/*.team-section {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightcyan;
}

.team-member {
    margin-bottom: 20px;
    text-align: center;
    margin: 0 20px 40px;
}

.team-member img {
    width: 150px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
    border: 2px solid lightgreen;
    transition: transform 0.3s ease;
   
}

.team-member img:hover {
    transform: scale(1.1);
    
}

.team-member h3 {
    margin: 10px 0;
    font-size: 18px;
    color: olivedrab;
}

hr {
    height: 3px;
    color: lawngreen;
    -webkit-filter: blur(3px);
}

body {
    font-family: "Poppins", sans-serif;
}

footer {
    font-family: "Poppins", sans-serif;
}

.team-member p {
    margin: 0;
    font-size: 13px;
    color: #777;
}

@media (max-width: 768px) {
    .team-member {
        flex: 20px 40px calc(50% - 20px);
        
        max-width: 0 1 calc(50% - 20px);
        
        margin: 0 10px 30px;
    }
}
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    background: #1f2c3a !important;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

.card img {
    border-radius: 30%;
    width: clamp(100px, 40vw, 120px);
    height: clamp(100px, 40vw, 120px);
    object-fit: cover;
    object-position: top;
}

.circle-top {
    width: clamp(25rem, 30vw, 31.25rem);
    position: absolute;
    top: 3em;
    left: -8em;
    height: clamp(25rem, 30vw, 31.25rem);
    background: #00458f;
    background: radial-gradient(circle, #00458f8f 0%, #00458e00 60%, #ffffff00 100%);
    background: -moz-radial-gradient(circle, #00458f8f 0%, #00458e00 60%, #ffffff00 100%);
    background: -webkit-radial-radial-gradient(circle, #00458f8f 0%, #00458e00 60%, #ffffff00 100%);
    border-radius: 50%;
}

.circle-bottom {
    width: clamp(25rem, 30vw, 31.25rem);
    position: absolute;
    bottom: -5em;
    right: -8em;
    height: clamp(25rem, 30vw, 31.25rem);
    background: #00458f;
    background: radial-gradient(circle, #00458f8f 0%, #00458e00 65%, #ffffff00 100%);
    background: -moz-radial-gradient(circle, #00458f8f 0%, #00458e00 65%, #ffffff00 100%);
    background: -webkit-radial-radial-gradient(circle, #00458f8f 0%, #00458e00 65%, #ffffff00 100%);
    border-radius: 50%;
}

header {
    background: linear-gradient(to top, #1f2c3a 0%, #2f3c4742 100%), url("https://images.pexels.com/photos/1181622/pexels-photo-1181622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat 50% 50%/cover;
    width: 100%;
    min-height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.button {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
    content: "Hello!";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg, #50cc7f 0%, #f5d100 100%);
    transform: translate(0%, 90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::after {
    content: "Consult";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: olivedrab;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%, -100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    transform: translate(0%, 0%);
}

.button:hover::after {
    transform: translate(0%, -200%);
}

.button:focus {
    outline: none;
}

.button:active {
    scale: 0.95;
}

header .header-content {
    width: min(37.5em, 90%);
    margin-top: 5em;
    position: relative;
    z-index: 10;
}

header .header-content span {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}

header .header-content h1 {
    font-size: clamp(1.5rem, 1.375rem + 0.625vw, 2rem);
    font-weight: 700;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75em;
    margin-inline: auto;
    gap: 0.938rem;
    transform: translatey(-3em);
    position: relative;
    z-index: 10;
}

section .card {
    padding: 1.875em 1.25em;
    max-width: 18.75rem;
    width: 90%;
    height: 16.875rem;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    position: relative;
}

section .card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
    border: 0.125rem solid transparent;
    background: linear-gradient(45deg, #1e272e, #48627a) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

section .card h2 {
    color: #fff;
    letter-spacing: 0.05rem;
    font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
    margin-top: 0.625em;
    margin-bottom: 0.188em;
}

section .card p {
    color: #afafaf;
    font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}

section .card-top {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    gap: 0.938rem;
    flex-wrap: wrap;
}

section .card-top .card img {
    width: clamp(120px, 40vw, 150px);
    height: clamp(120px, 40vw, 150px);
}


/*footer Css*/

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 20px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: lawngreen;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: lawngreen;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: limegreen;
    padding: 13px 20px;
    border: 1px solid whitesmoke;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #2E2E2E;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: lawngreen;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}